
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  top: 200px;
  left: 50%;
}

.signal {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  border-radius: 50%;
}